.sideBar_star{
    width: 20px;
    height: 20px;
    padding: 0;
    flex-shrink: 0;
}

.sidebar{
    position: sticky;
    top: 50px; /* 固定在導覽行下方 */
    height: 100%; /* 減去導覽行的高度 */
}

.sidebar_button{
    background-color: rgb(68, 22, 159) !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
